@model Leaders_RentCar.Models.Vehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chasis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Combustible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarifa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehiculoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
