@model IEnumerable<Leaders_RentCar.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chasis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometraje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarifa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chasis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometraje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarifa)
        </td>
        @switch (item.Estatus) {
                case "Disponible":
                    <td class="bg bg-success">
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                break;
                case "Rentado":
                    <td class="bg bg-info">
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                break;
                case "Mantenimiento":
                    <td class="bg bg-danger">
                        @Html.DisplayFor(modelItem => item.Estatus)
                    </td>
                break;
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehiculoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehiculoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehiculoId })
        </td>
    </tr>
}

</table>
